.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    /* height: 70px; */
}

.navbar-nav .nav-link {
    color: white;
    /* font-size: 1px; */
    text-transform: uppercase;
    height: 100%;
    font-weight: bold;
}

.navbar .navbar-brand {
    color: white;
    font-weight: bold;
}

.navbar ul li:hover {
    background-color: transparent;
    text-decoration: underline;
}