<div class="tab-pane fade" id="tab4" role="tabpanel">
    <form class="container py-5">
        <div class="row">

            <div class="col-lg-4">
                <label><b>Чи була трансплатнація стовбурових клітин?</b></label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="transplatnatsiia-klityn" id="transplatnatsiia-klityn-yes" value="Генетичне дослідження не проводилось">
                    <label class="form-check-label" for="transplatnatsiia-klityn-yes">
            Так
          </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="transplatnatsiia-klityn" id="transplatnatsiia-klityn-yes-no" value="Історія генетичних досліджень невідома" checked>
                    <label class="form-check-label" for="transplatnatsiia-klityn-yes-no">
            Ні
          </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="transplatnatsiia-klityn" id="transplatnatsiia-klityn-yes-no2" value="Генетичне дослідження не проводилось, мутації не виявлено" checked>
                    <label class="form-check-label" for="transplatnatsiia-klityn-yes-no2">
            Невідомо
          </label>
                </div>

                <div class="input-group my-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-edit"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Введіть дані">
                </div>
            </div>

            <div class="col-lg-4">
                <label><b>Дата трансплатнації:</b></label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="data-transplatnatsii" value="Невідомо">
                    <label class="form-check-label">
            Невідомо
          </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="data-transplatnatsii" value="Відомо">
                    <label class="form-check-label">
            Відомо
          </label>
                </div>

                <div class="input-group my-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-calendar-plus"></i></span>
                    </div>
                    <input type="date" class="form-control" placeholder="Дата народження" aria-label="Дата народження">
                </div>
            </div>

            <div class="col-lg-4">
                <label><b>Джерело DC34 стовбурових клітин:</b></label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="dzherelo-DC34" value="Секвенування гена">
                    <label class="form-check-label">
            Кістковий мозок
          </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="dzherelo-DC34" value="Екзом/геном секвенування">
                    <label class="form-check-label">
            Периферична кров
          </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="dzherelo-DC34" value="Невідомо">
                    <label class="form-check-label">
            Пуповинна кров
          </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="dzherelo-DC34" value="Невідомо">
                    <label class="form-check-label">
            Невідомо
          </label>
                </div>
            </div>

            <div class="col-lg-4 mt-4">
                <label><b>Генна терапія:</b></label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="genna-terapia" value="Специфічні клінічні симптоми">
                    <label class="form-check-label">
            Так
          </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="genna-terapia" value="Сімейний скринінг">
                    <label class="form-check-label">
            Ні
          </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="genna-terapia" value="Пренатальна діагностика">
                    <label class="form-check-label">
            Невідомо
          </label>
                </div>

                <div class="input-group my-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-calendar-plus"></i></span>
                    </div>
                    <input type="date" class="form-control" placeholder="Дата народження" aria-label="Дата народження">
                </div>

            </div>

        </div>
        <button class="btn btn-primary mt-5 px-5">Далі</button>
    </form>
</div>