<div class="nav nav-tabs nav-fill mt-5" id="nav-tab" role="tablist">
    <a class="col-2 nav-item nav-link " id="nav-home-tab" data-toggle="tab" role="tab" [routerLink]="['/patientComponents/generalData']" aria-selected="true">Загальні дані</a>
    <a class="col-2 nav-item nav-link " id="nav-profile-tab" data-toggle="tab" [routerLink]="['/patientComponents/wayToDiagnose']" role="tab" aria-selected="false">Шлях до діагнозу</a>
    <a class="col-2 nav-item nav-link " id="nav-contact-tab" data-toggle="tab" [routerLink]="['/patientComponents/immunoglobulinReplacementTherapy']" role="tab" aria-selected="false">Діазноз ПІД</a>
    <a class="col-3 nav-item nav-link " id="nav-contact-tab" data-toggle="tab" [routerLink]="['/patientComponents/immunoglobulinReplacementTherapy']" role="tab" aria-selected="false">Стовбурові клітини/Генна терапія</a>
    <a class="col-3 nav-item nav-link active" id="nav-contact-tab" data-toggle="tab" [routerLink]="['/patientComponents/stemcells']" role="tab" aria-selected="false">Замісна імуноглобутерапія</a>
</div>
<!-- </nav> -->
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <router-outlet></router-outlet>
    </div>
</div>
<!-- </div>
  </div>
</div> -->