<div class="tab-pane fade show active" id="tab5" role="tabpanel">
    <form class="container py-5">
        <div class="row">

            <div class="col-lg-4">
                <label><b>Чи отримує пацієнт на сьогоднішній день замісну імуноглобулінотерапію??</b></label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="transplatnatsiia-klityn" id="transplatnatsiia-klityn-yes" value="Генетичне дослідження не проводилось">
                    <label class="form-check-label" for="transplatnatsiia-klityn-yes">
            Так
          </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="transplatnatsiia-klityn" id="transplatnatsiia-klityn-yes-no" value="Історія генетичних досліджень невідома">
                    <label class="form-check-label" for="transplatnatsiia-klityn-yes-no">
            Ні
          </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="transplatnatsiia-klityn" id="transplatnatsiia-klityn-yes-no2" value="Генетичне дослідження не проводилось, мутації не виявлено">
                    <label class="form-check-label" for="transplatnatsiia-klityn-yes-no2">
            Невідомо
          </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="transplatnatsiia-klityn" id="transplatnatsiia-klityn-yes-no2" value="Генетичне дослідження не проводилось, мутації не виявлено">
                    <label class="form-check-label" for="transplatnatsiia-klityn-yes-no2">
            Нерегулярно
          </label>
                </div>
            </div>

            <div class="col-lg-4">
                <label><b>Початкова дата введеня замісної імуноглобулінотерапії:</b></label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="data-transplatnatsii" value="Невідомо">
                    <label class="form-check-label">
            Невідомо
          </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="data-transplatnatsii" value="Відомо">
                    <label class="form-check-label">
            Відомо
          </label>
                </div>

                <div class="input-group my-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-calendar-plus"></i></span>
                    </div>
                    <input type="date" class="form-control" placeholder="Дата народження" aria-label="Дата народження">
                </div>
            </div>

            <div class="col-lg-4">
                <label><b>Кінцева дата введення замісної імуноглобулінотерапії:</b></label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="data-transplatnatsii" value="Невідомо">
                    <label class="form-check-label">
            Невідомо
          </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="data-transplatnatsii" value="Відомо">
                    <label class="form-check-label">
            Відомо
          </label>
                </div>

                <div class="input-group my-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-calendar-plus"></i></span>
                    </div>
                    <input type="date" class="form-control" placeholder="Дата народження" aria-label="Дата народження">
                </div>
            </div>

            <div class="col-lg-4">
                <label><b>Виробник імуноглобулінів, які отримує пацієнт:</b></label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="data-transplatnatsii" value="Невідомо">
                    <label class="form-check-label">
            Невідомо
          </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="data-transplatnatsii" value="Відомо">
                    <label class="form-check-label">
            Відомо
          </label>
                </div>

                <div class="form-group my-3">
                    <select class="form-control">
            <option selected>Виберіть</option>
            <option value="1">Львів</option>
            <option value="2">Київ</option>
            <option value="3">Одеса</option>
          </select>
                </div>
            </div>

            <!-- Start -->
            <div class="col-lg-4">
                <label><b>Актуальний шлях введення імуноглобуліну:</b></label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="transplatnatsiia-klityn" id="transplatnatsiia-klityn-yes" value="Генетичне дослідження не проводилось">
                    <label class="form-check-label" for="transplatnatsiia-klityn-yes">
            Довенно
          </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="transplatnatsiia-klityn" id="transplatnatsiia-klityn-yes-no" value="Історія генетичних досліджень невідома">
                    <label class="form-check-label" for="transplatnatsiia-klityn-yes-no">
            Підшкірно
          </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="transplatnatsiia-klityn" id="transplatnatsiia-klityn-yes-no2" value="Генетичне дослідження не проводилось, мутації не виявлено">
                    <label class="form-check-label" for="transplatnatsiia-klityn-yes-no2">
            Дом'язово
          </label>
                </div>
            </div>
            <!-- End -->

            <!-- Start -->
            <div class="col-lg-4">
                <label><b>Актуальне місце введення імуноглобуліну:</b></label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="transplatnatsiia-klityn" id="transplatnatsiia-klityn-yes" value="Генетичне дослідження не проводилось">
                    <label class="form-check-label" for="transplatnatsiia-klityn-yes">
            Вдома
          </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="transplatnatsiia-klityn" id="transplatnatsiia-klityn-yes-no" value="Історія генетичних досліджень невідома">
                    <label class="form-check-label" for="transplatnatsiia-klityn-yes-no">
            В лікарні
          </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="transplatnatsiia-klityn" id="transplatnatsiia-klityn-yes-no2" value="Генетичне дослідження не проводилось, мутації не виявлено">
                    <label class="form-check-label" for="transplatnatsiia-klityn-yes-no2">
            Стаціонарно
          </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="transplatnatsiia-klityn" id="transplatnatsiia-klityn-yes-no2" value="Генетичне дослідження не проводилось, мутації не виявлено">
                    <label class="form-check-label" for="transplatnatsiia-klityn-yes-no2">
            Амбулаторно
          </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="transplatnatsiia-klityn" id="transplatnatsiia-klityn-yes-no2" value="Генетичне дослідження не проводилось, мутації не виявлено">
                    <label class="form-check-label" for="transplatnatsiia-klityn-yes-no2">
            Обидва локації
          </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="transplatnatsiia-klityn" id="transplatnatsiia-klityn-yes-no2" value="Генетичне дослідження не проводилось, мутації не виявлено">
                    <label class="form-check-label" for="transplatnatsiia-klityn-yes-no2">
            Невідомо
          </label>
                </div>
            </div>
            <!-- End -->

            <div class="col-lg-4">
                <label><b>Кінцева дата введення замісної імуноглобулінотерапії:</b></label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="data-transplatnatsii" value="Невідомо">
                    <label class="form-check-label">
            Невідомо
          </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="data-transplatnatsii" value="Відомо">
                    <label class="form-check-label">
            Відомо
          </label>
                </div>

                <div class="input-group my-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-calendar-plus"></i></span>
                    </div>
                    <input type="date" class="form-control" placeholder="Дата народження" aria-label="Дата народження">
                </div>
            </div>

            <!-- Start -->
            <div class="col-lg-4">
                <label><b>Доза:</b></label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="data-transplatnatsii" value="Невідомо">
                    <label class="form-check-label">
            Невідомо
          </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="data-transplatnatsii" value="Відомо">
                    <label class="form-check-label">
            Відомо
          </label>
                </div>

                <div class="input-group my-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-penciladd-alt"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Доза мг/кг ваги" aria-label="Доза мг/кг ваги">
                </div>
            </div>
            <!-- End -->

            <!-- Start -->
            <div class="col-lg-4">
                <label><b>Рівень імуноглобулінів перед введенням замісної імуноглобулінотерапії:</b></label>

                <div class="input-group my-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-pencil-alt"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Введіть IgG(г/л)" aria-label="Введіть IgG(г/л)">
                </div>
            </div>
            <!-- End -->

            <!-- Start -->
            <div class="col-lg-4">
                <label><b>Інтервал між введенями:</b></label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="transplatnatsiia-klityn" id="transplatnatsiia-klityn-yes" value="Генетичне дослідження не проводилось">
                    <label class="form-check-label" for="transplatnatsiia-klityn-yes">
            Кожні 7 днів
          </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="transplatnatsiia-klityn" id="transplatnatsiia-klityn-yes-no" value="Історія генетичних досліджень невідома">
                    <label class="form-check-label" for="transplatnatsiia-klityn-yes-no">
            Кожні 14 днів
          </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="transplatnatsiia-klityn" id="transplatnatsiia-klityn-yes-no2" value="Генетичне дослідження не проводилось, мутації не виявлено">
                    <label class="form-check-label" for="transplatnatsiia-klityn-yes-no2">
            Кожні 21 днів
          </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="transplatnatsiia-klityn" id="transplatnatsiia-klityn-yes-no2" value="Генетичне дослідження не проводилось, мутації не виявлено">
                    <label class="form-check-label" for="transplatnatsiia-klityn-yes-no2">
            Кожні 28 днів
          </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="transplatnatsiia-klityn" id="transplatnatsiia-klityn-yes-no2" value="Генетичне дослідження не проводилось, мутації не виявлено">
                    <label class="form-check-label" for="transplatnatsiia-klityn-yes-no2">
            Невідомо
          </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="transplatnatsiia-klityn" id="transplatnatsiia-klityn-yes-no2" value="Генетичне дослідження не проводилось, мутації не виявлено">
                    <label class="form-check-label" for="transplatnatsiia-klityn-yes-no2">
            Вказати
          </label>
                </div>
            </div>
            <!-- End -->

            <!-- Start -->
            <div class="col-lg-4">
                <label><b>Актуальна вага:</b></label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="transplatnatsiia-klityn" id="transplatnatsiia-klityn-yes" value="Генетичне дослідження не проводилось">
                    <label class="form-check-label" for="transplatnatsiia-klityn-yes">
            Відомо
          </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="transplatnatsiia-klityn" id="transplatnatsiia-klityn-yes-no" value="Історія генетичних досліджень невідома">
                    <label class="form-check-label" for="transplatnatsiia-klityn-yes-no">
            Невідомо
          </label>
                </div>
            </div>
            <!-- End -->

            <!-- Start -->
            <div class="col-lg-4">
                <label><b>Зафіксовані небажані явища:</b></label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="transplatnatsiia-klityn" id="transplatnatsiia-klityn-yes" value="Генетичне дослідження не проводилось">
                    <label class="form-check-label" for="transplatnatsiia-klityn-yes">
            Так
          </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="transplatnatsiia-klityn" id="transplatnatsiia-klityn-yes-no" value="Історія генетичних досліджень невідома">
                    <label class="form-check-label" for="transplatnatsiia-klityn-yes-no">
            Ні
          </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="transplatnatsiia-klityn" id="transplatnatsiia-klityn-yes-no" value="Історія генетичних досліджень невідома">
                    <label class="form-check-label" for="transplatnatsiia-klityn-yes-no">
            Невідомо
          </label>
                </div>
            </div>
            <!-- End -->

        </div>
        <button class="btn btn-success mt-5 px-5">Зберегти</button>
    </form>
</div>